@import "tailwindcss";

@font-face {
  font-family: "Japanese";
  src: url("/fonts/Japanese.woff") format("woff");
}

@font-face {
  font-family: "KongJapanese";
  src: url("/fonts/Kong Japanese.woff") format("woff");
}

@font-face {
  font-family: "Sekaiwo";
  src: url("/fonts/Sekaiwo.woff") format("woff");
}

@font-face {
  font-family: "Toragon";
  src: url("/fonts/Toragon.woff") format("woff");
}

@font-face {
  font-family: "MingImperial";
  src: url("/fonts/MingImperial.woff2") format("woff2");
}
@font-face {
  font-family: "Mashiro";
  src: url("/fonts/Mashiro.woff2") format("woff2");
}
@font-face {
  font-family: "Harukaze";
  src: url("/fonts/Harukaze.woff2") format("woff2");
}
